#main{
	height: 100vh;
	width: 100%;
	position: fixed;
	overflow: hidden;
	transition: all .3s;
	display: flex;
}
#icon{
	z-index: 999;
	height: 25px;
	width: 30px;
	bottom: 20px;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
}
#icon:hover{
	cursor: pointer;
}
#lines{
	height: 3px;
	width: 30px;
	background-color: #7380c1;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .7s;
}
#lines::before{
	content:'';
	height: 3px;
	width: 30px;
	background-color: inherit;
	position: absolute;
	top: -10px;
	transition: .5s;
}
#lines::after{
	content:'';
	height: 3px;
	width: 30px;
	background-color: inherit;
	position: absolute;
	top: 10px;
	transition: .5s;
}
#menu{
	height: 100px;
	width: 100%;
	bottom: 0;
	position: absolute;
	color: grey;
	letter-spacing: 3px;
	font-family: fantasy;
}
#m1{
	height:100px; 
	width: 10%;
	text-align: center;
	position: absolute;
	top: 100%;
	float: left;
	left: 15%;
}
#m2{
	height:100px; 
	width: 10%;
	text-align: center;
	position: absolute;
	top: 100%;
	float: left;
	left: 30%;
}
#m3{
	height:100px; 
	width: 10%;
	text-align: center;
	position: absolute;
	top: 100%;
	float: right;
	right: 15%;
}
#m4{
	height:100px; 
	width: 10%;
	text-align: center;
	position: absolute;
	top: 100%;
	float: right;
	right: 30%;
}
#m1 a{
	text-decoration: none;
	color: grey;
	transition: all .3s;
}
#m1 a:hover{
	color: black;
	font-family: fantasy;
	font-size: 20px;
	transition: all .3s;
}
#m2 a{
	text-decoration: none;
	color: grey;
	transition: all .3s;
}
#m2 a:hover{
	color: black;
	font-family: fantasy;
	font-size: 20px;
	transition: all .3s;
}
#m3 a{
	text-decoration: none;
	color: grey;
	transition: all .3s;
}
#m3 a:hover{
	color: black;
	font-family: fantasy;
	font-size: 20px;
	transition: all .3s;
}
#m4 a{
	text-decoration: none;
	color: grey;
	transition: all .3s;
}
#m4 a:hover{
	color: black;
	font-family: fantasy;
	font-size: 20px;
	transition: all .3s;
}